.head {
    height: 180px;
    top: 0px;
    background-color: #FF82AB;
    border-bottom: 2px solid #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
    color: #eee;
    line-height: 70px;
    font-weight: 300;
    font-size: 2em;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.head .post {
    margin-top: -40px;
    font-size: 0.7em;
}

.menu {
    margin: 10px 20px 0 20px;
    height: 70px;
    bottom: 0px;
    background-color: #FF82AB;
    border-top: 1px solid #fff;
    text-align: center;
    color: #fff;
    line-height: 70px;
    font-size: 0.6em;
    font-weight: 300;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.menu a {
    margin: 10px;
    padding: 5px;
    color: #fff;
    text-decoration: none;
}

.menu a.current {
    background: #DD7199;
    border: 1px solid #fff;
    border-radius: 4px;
}
